<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COUNT</title>
</head>
<body>
    <h1>COUNT</h1>
    <h2 id="count"></h2>
    
    <script>
        const socket = new WebSocket("ws://127.0.0.1:8000/ws/ac/")
        
        socket.addEventListener("open",(event)=>{
            socket.send("hello server!")
        })

        socket.addEventListener("message",(event)=>{
            console.log("message from server:",event)
            
        })

    </script>
</body>
</html>